<%- include('./partials/header') %>
  <p>Hi <%= name %>, we've receieved the following message from you:</p>
  <blockquote>
    <%= message %>
  </blockquote>
  <p>
    We'll contact you back at <%= email %>
  </p>
<%- include('./partials/footer') %>